html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.header-background {
    background-color: #d3e0d3; /* Verde claro */
    background-size: cover; /* Ajusta a imagem para cobrir todo o cabeçalho */
    background-position: center; /* Centraliza a imagem no cabeçalho */
    color: #000000; /* Cor do texto no cabeçalho */
}

